* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 50px;
}

header {
    width: 100%;
    height: 200px;
    background-color: yellow;
    margin-bottom: 10px;
    padding: 10px;
}

aside.left {
    width: calc(30% - 5px);
    /* height: 300px; */
    background-color: plum;
    float: left;
    margin-right: 10px;
    padding: 10px;

}

aside.right {
    width: calc(30% - 5px);
    /* height: 200px; */
    float: left;
    margin-left: 10px;
}

aside.right-top, aside.right-bottom {
    background-color: plum;
    float: left;
    width: 100%;
    padding: 10px;
}

aside.right-top {
    margin-bottom: 10px;
}

aside.right:after {
    content: '';
    display: table;
    clear: both;
}

main {
    width: calc(40% - 10px);
    /* height: 500px; */
    background-color: purple;
    float: left;
    padding: 10px;

}

footer {
    width: 100%;
    /* height: 200px; */
    background-color: lightblue;
    float: left;
    margin-top: 10px;
    padding: 10px;

}

.container:after {
    content: '';
    display: table;
    clear: both;
}
